.vc-compass-sm {
  pointer-events: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 128px;
  height: 128px;
  overflow: hidden;
}
.vc-compass-outer-ring-sm {
  cursor: pointer;
  position: absolute;
  width: 128px;
  height: 128px;
  top: 0px;
  transform: rotate(0rad);
  -webkit-transform: rotate(0rad);
  background-image: url('../../images/vc-compass-outer-ring-sm.png');
}
.vc-compass-outer-ring-sm:active {
  background-image: url('../../images/vc-compass-outer-ring-active-sm.png');
}
.vc-compass-tilt-sm {
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url('../../images/vc-tilt-sm.png');
  visibility: hidden;
}
.vc-navigationContainer-sm {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 300px;
  width: 128px;
  z-index: 1;
}
.vc-navigationContainer-sm:hover .vc-compass-tilt-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-compass-tilt-sm {
  visibility: visible;
}
.vc-compass-tiltbar-sm {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../../images/vc-tiltbar-sm.png');
  background-repeat: no-repeat;
  z-index: 10;
  visibility: hidden;
}
.vc-navigationContainer-sm:hover .vc-compass-tiltbar-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-compass-tiltbar-sm {
  visibility: visible;
}
.vc-compass-arrows-sm {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 0px;
  background-image: url('../../images/vc-compass-arrows-sm.png');
  visibility: hidden;
}
.vc-navigationContainer-sm:hover .vc-compass-arrows-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-compass-arrows-sm {
  visibility: visible;
}
.vc-arrows-e-sm {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 52px;
  left: 68px;
  visibility: hidden;
}
.vc-navigationContainer-sm:hover .vc-arrows-e-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-arrows-e-sm {
  visibility: visible;
}
.vc-arrows-e-sm:active {
  background-image: url('../../images/vc-arrows-e-sm.png');
}
.vc-arrows-n-sm {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 32px;
  left: 53px;
  visibility: hidden;
}
.vc-arrows-n-sm:active {
  background-image: url('../../images/vc-arrows-n-sm.png');
}
.vc-navigationContainer-sm:hover .vc-arrows-n-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-arrows-n-sm {
  visibility: visible;
}
.vc-arrows-s-sm {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 74px;
  left: 53px;
  visibility: hidden;
}
.vc-arrows-s-sm:active {
  background-image: url('../../images/vc-arrows-s-sm.png');
}
.vc-navigationContainer-sm:hover .vc-arrows-s-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-arrows-s-sm {
  visibility: visible;
}
.vc-arrows-w-sm {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 52px;
  left: 35px;
  visibility: hidden;
}
.vc-arrows-w-sm:active {
  background-image: url('../../images/vc-arrows-w-sm.png');
}
.vc-navigationContainer-sm:hover .vc-arrows-w-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-arrows-w-sm {
  visibility: visible;
}
.vc-zoom-sm {
  position: absolute;
  width: 30px;
  height: 150px;
  background-image: url('../../images/vc-zoom-sm.png');
  top: 130px;
  right: 60px;
  visibility: hidden;
}
.vc-navigationContainer-sm:hover .vc-zoom-sm {
  visibility: visible;
}
.vc-navigationContainer-sm:active .vc-zoom-sm {
  visibility: visible;
}
.vc-zoomin-sm {
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
}
.vc-zoomin-sm:active {
  background-image: url('../../images/vc-zoomin-sm.png');
}
.vc-zoomout-sm {
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 0px;
}
.vc-zoomout-sm:active {
  background-image: url('../../images/vc-zoomout-sm.png');
}
.vc-zoombar-sm {
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 65px;
  background-image: url('../../images/vc-zoombar-sm.png');
}
