@import '../common/variables';
@import '../common/mixins';
.vc-zoom-control {
  display: none;

  background: $charcoal-grey;
  border-radius: 100px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  text-align: center;
  box-sizing: border-box;
  line-height: 1.2rem;

  width: 24px;
  height: 60px;

  svg {
    height: 10px;
    width: 10px;
    fill: #fff;
  }

  // @media (min-width: $sm) {
  //   display: inline-block;
  // }
  display: inline-block;
}

.vc-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.vc-list li {
  line-height: 20px;
  flex: 1;
}

.vc-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.vc-increase,
.vc-decrease,
.vc-refresh {
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: $font-weight-normal;
  box-shadow: none;
  text-align: left;
  cursor: pointer;
  line-height: $btn-default-line-height;
  text-decoration: none;
  font-size: $font-size-button;
  font-family: $font-base;

  &:focus,
  &:hover {
    box-shadow: none;
    border-color: transparent;
    outline: none;
    opacity: 0.9;
  }
}
