$namespace: 'vc';

.demo-viewer {
  width: 100%;
  height: 500px;
  overflow: hidden;

  .demo-toolbar {
    position: absolute;
    left: 1%;
    top: 1%;
    min-width: 185px;
    // max-width: 300px;
    z-index: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);

    .block {
      .#{$namespace}-select {
        width: 100%;
      }
    }
  }

  .#{$namespace}-row {
    border-radius: 100px;
    align-items: baseline;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .#{$namespace}-button {
    margin: 10px 10px 10px 0;

    &:first-child {
      margin-left: 20px;
    }
  }

  .#{$namespace}-switch__label {
    color: white;
  }

  .#{$namespace}-checkbox__label {
    color: white;
  }
}
