@import './core/variables.scss';

.vc-compass {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: $z-side;
  pointer-events: auto;
}

.vc-navigation .vc-compass {
  position: relative;
}

.vc-compass-innerRing {
  padding: 4px;
  text-align: center;
}

.vc-compass-rotation-marker .vc-compass-outerRing {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
