@import './core/variables.scss';

@font-face {
  font-family: 'vc-icons';
  // src: url('#{$font-path}/iconfont.eot');
  src: url('#{$font-path}/iconfont.woff2') format('woff2'), url('#{$font-path}/iconfont.woff') format('woff'),
    url('#{$font-path}/iconfont.ttf') format('truetype'), /*url('#{$font-path}/iconfont.svg#vc-icons') format('svg')*/;
}

.vc-icon {
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-align: center;
  position: relative;
  box-sizing: content-box;
  fill: currentColor;
  &:before,
  &:after {
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  svg,
  i {
    width: 100%;
    height: 100%;
  }
}

.vc-icon,
.vc-icons,
.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp {
  // user-select: none;
  cursor: inherit;
  font-size: inherit;
  display: block;
  align-items: center;
  justify-content: center;
}

[class^='#{$namespace}-icons-'],
[class*=' #{$namespace}-icons-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vc-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icons-share:before {
  content: '\e608';
}

.#{$namespace}-icons-reset:before {
  content: '\e67f';
}

.#{$namespace}-icons-zoom-in:before {
  content: '\e606';
}

.#{$namespace}-icons-zoom-out:before {
  content: '\e605';
}

.#{$namespace}-icons-geolocation:before {
  content: '\e604';
}

.#{$namespace}-icons-compass-rotation-marker:before {
  content: '\e603';
}

.#{$namespace}-icons-compass-outer:before {
  content: '\e602';
}

.#{$namespace}-icons-compass-inner:before {
  content: '\e601';
}

.#{$namespace}-icons-vue-cesium:before {
  content: '\e600';
}

.#{$namespace}-icons-weixin:before {
  content: '\e660';
}

.#{$namespace}-icons-github:before {
  content: '\e620';
}

.#{$namespace}-icons-gitter:before {
  content: '\eba2';
}

.#{$namespace}-icons-qq:before {
  content: '\e610';
}

.#{$namespace}-icons-vue:before {
  content: '\e6b9';
}

.#{$namespace}-icons-cesium:before {
  content: '\e734';
}

.#{$namespace}-icons-photo:before {
  content: '\e631';
}

.#{$namespace}-icons-capture:before {
  content: '\e63c';
}

.#{$namespace}-icons-measure-polyline-distance:before {
  content: '\e611';
}

.#{$namespace}-icons-measure-vertical-distance:before {
  content: '\e60f';
}

.#{$namespace}-icons-measurement-button:before {
  content: '\e60e';
}

.#{$namespace}-icons-measure-height-from-terrain:before {
  content: '\e60c';
}

.#{$namespace}-icons-measure-area:before {
  content: '\e60b';
}

.#{$namespace}-icons-measure-component-distance:before {
  content: '\eba3';
}

.#{$namespace}-icons-measure-point-coordinates:before {
  content: '\e60d';
}

.#{$namespace}-icons-measure-horizontal-distance:before {
  content: '\e609';
}

.#{$namespace}-icons-measure-distance:before {
  content: '\e607';
}

.#{$namespace}-icons-move:before {
  content: '\eba4';
}

.#{$namespace}-icons-delete:before {
  content: '\eba5';
}

.#{$namespace}-icons-insert:before {
  content: '\eba6';
}

.#{$namespace}-icons-remove:before {
  content: '\eba7';
}

.#{$namespace}-icons-move-all:before {
  content: '\eba9';
}

.#{$namespace}-icons-clear:before {
  content: '\eba8';
}

.#{$namespace}-icons-drawing-button:before {
  content: '\ebaa';
}

.#{$namespace}-icons-drawing-pin:before {
  content: '\e612';
}

.#{$namespace}-icons-drawing-point:before {
  content: '\ebab';
}

.#{$namespace}-icons-drawing-polyline:before {
  content: '\ebac';
}

.#{$namespace}-icons-drawing-polygon:before {
  content: '\ebae';
}

.#{$namespace}-icons-drawing-rectangle:before {
  content: '\ebb0';
}

.#{$namespace}-icons-drawing-circle:before {
  content: '\ebb1';
}

.#{$namespace}-icons-drawing-regular:before {
  content: '\ebb2';
}

.#{$namespace}-icons-analysis-button:before {
  content: '\ebb3';
}

.#{$namespace}-icons-analysis-sightline:before {
  content: '\ec81';
}

.#{$namespace}-icons-analysis-viewshed:before {
  content: '\ec82';
}

.#{$namespace}-icons-overview-toggle:before {
  content: '\ebaf';
}
