@import './core/variables.scss';

// 量算组件
.vc-measurements-container {
  position: absolute;
  z-index: $z-fab;
  // .vc-measure-button .active {
  //   opacity: 0.7 !important;
  // }
}

.vc-drawtip {
  z-index: $z-tooltip;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $tooltip-padding;

  @media (max-width: $breakpoint-xs-max) {
    font-size: $tooltip-mobile-fontsize;
    padding: $tooltip-mobile-padding;
  }
}
