@import './core/variables.scss';

// 导航控件
.vc-navigation {
  position: absolute;
  z-index: $z-top;
  line-height: 1;
  pointer-events: none;
  .vc-navigation-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .vc-navigation-control {
      margin: 2px 0;
      text-align: center;
    }
  }
}
