@import './core/variables.scss';

.vc-status-bar{
  cursor: pointer;
  position: absolute;
  z-index: $z-top;
  margin-right: 5px;

  box-sizing: border-box;
  float: left;
  padding: 5px 5px;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1;
  border: 0;
  outline: 0;
  font-family: monospace, sans-serif;
  max-height: 21px;
  margin-top: 5px;

  span {
    padding: 0 5px;
  }

  li,
  div {
    display: inline-block;
    padding: 0 5px;
    text-align: left;
  }

  .vc-section-long {
    width: 160px;
  }

  .vc-section {
    width: 135px;
  }

  .vc-section-short {
    width: 100px;
  }

  .vc-section-mini {
    width: 50px;
  }
}

.vc-location-other-controls .vc-status-bar {
  position: relative;
}
