@import './core/variables.scss';

.vc-zoom-control {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: $z-top;
  pointer-events: auto;
}

.vc-navigation .vc-zoom-control {
  position: relative;
}

.vc-list {
  display: inherit;
  flex-direction: inherit;
  list-style: none;
  padding-left: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.vc-list li {
  flex: 1;
}
