@import 'element-theme-chalk/src/mixins/config.scss';
@import 'vc-viewer.scss';
// @import 'vc-navigation.scss';
@import 'vc-layer-imagery.scss';
@import 'vc-datasource-custom.scss';
@import 'vc-overlay-html.scss';

.text-brand {
  color: #a2aa33;
}
.bg-brand {
  background: #a2aa33;
}

.demo-block {
  font-weight: 400;
  line-height: 20px;
  font-family: 'Roboto,Noto Sans,Noto,sans-serif;';

  .demo-viewer {
    width: 100%;
    height: 500px;
    overflow: hidden;

    .demo-toolbar {
      position: absolute;
      left: 1%;
      top: 1%;
      min-width: 185px;
      // max-width: 300px;
      z-index: 100;
      color: white;
      background-color: rgba(0, 0, 0, 0.2);

      .block {
        .#{$namespace}-select {
          width: 100%;
        }
      }
    }

    .#{$namespace}-row {
      border-radius: 100px;
      align-items: baseline;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .#{$namespace}-button {
      margin: 10px 10px 10px 0;

      &:first-child {
        margin-left: 20px;
      }
    }

    .#{$namespace}-switch__label {
      color: white;
    }

    .#{$namespace}-checkbox__label {
      color: white;
    }
  }
}
