.demo-block .block {
  padding: 30px 24px;
  overflow: hidden;
  border-bottom: solid 1px #eff2f6;
  &:last-child {
    border-bottom: none;
  }
}

.demo-block.demo-vc-layer-imagery {
  .slider {
    position: absolute;
    left: 50%;
    top: 0px;
    background-color: #d3d3d3;
    width: 5px;
    height: 100%;
    z-index: 9999;
  }

  .slider:hover {
    cursor: ew-resize;
  }
}
