.demo-block.demo-vc-viewer {
  .#{$namespace}-row {
    border-radius: 100px;
    align-items: baseline;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .#{$namespace}-button {
    margin: 10px 10px 10px 0;

    &:first-child {
      margin-left: 20px;
    }
  }

  .#{$namespace}-switch {
    margin: 20px 20px 20px 0;

    &:first-child {
      margin-left: 20px;
    }
  }

  .#{$namespace}-switch__label {
    color: white;
  }
}
