.vc-html-container {
  display: none;
  position: absolute;
  // pointer-events: none;
  z-index: 66;
}

.vc-html-bubble {
  width: 320px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px 16px;
}
