name: Deploy Doc Website
on:
  push:
    branches:
      - main

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 16
          registry-url: https://registry.npmjs.com/

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8.4.0

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build Website
        run: pnpm website-build

      - name: Build Indices
        run: pnpm build:indices
        env:
          ALGOLIA_KEY: ${{secrets.ALGOLIA_KEY}}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: website-dist
          GIT_CONFIG_NAME: zouyaoji
          GIT_CONFIG_EMAIL: 370681295@qq.com
          COMMIT_MESSAGE: website deploy

      - name: Sync to Gitee
        uses: x-dr/sync-repo-to-gitee@v1.0
        env:
          # 在 Settings->Secrets 配置 GITEE_KEY
          SSH_KEY: ${{ secrets.GITEE_KEY }}
        with:
          # 注意替换为你的 GitHub 源仓库地址
          github-repo: 'git@github.com:zouyaoji/vue-cesium.git'
          # 注意替换为你的 Gitee 目标仓库地址
          gitee-repo: 'git@gitee.com:zouyaoji/vue-cesium.git'
